body {
  background: white;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.bg-login {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/images/login-bg.jpg");
}

.card-body {
  padding: 1.5rem !important;
}

.logo-container {
  display: flex;
  margin-bottom: 50px;
}

.logo {
  margin: auto;
}

.bg-white {
  --bs-bg-opacity: 0.85;
}
